<header class='page-navigation'>
  <div>
    <% if Current.user %>
      <%= link_to t('components.page_wrappers.page_component.home'), home_path %>
    <% else %>
      <%= link_to t('components.page_wrappers.users_component.home'), root_path %>
    <% end %>
  </div>
  <div>
    <% I18n.available_locales.each do |locale| %>
      <%= link_to locale, change_locale(locale), aria: { label: t('components.page_wrappers.users_component.change_locale') } %>
    <% end %>
    <% if Current.user %>
      <%= link_to t('components.page_wrappers.users_component.logout'), users_logout_path %>
    <% else %>
      <%= link_to t('components.page_wrappers.users_component.login'), users_login_path %>
      <%= link_to t('components.page_wrappers.users_component.sign_up'), users_sign_up_path %>
    <% end %>
  </div>
</header>

<div class='users-page'>
  <div class='users-content'>
    <%= content %>
  </div>
</div>
