<%= render Views::Shared::NavigationComponent.new %>
<%= render PageWrappers::PageComponent.new do %>
  <h1><%= @fantasy_league.name %></h1>
  <table cellSpacing="0" id="league-ranks">
    <thead>
      <tr>
        <td>Rank</td>
        <td>Team</td>
        <td>Total points</td>
      </tr>
    </thead>
    <tbody>
      <% @fantasy_league_members.each.with_index(1) do |member, index| %>
        <tr>
          <td><%= index %></td>
          <td><%= member.name %></td>
          <td><%= member.points %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
