<%= render PageWrappers::PageComponent.new(fantasy_team: @fantasy_team) do %>
  <div class="grid grid-cols-2 gap-8">
    <div>
      <h2><%= @fantasy_league.name %></h2>
      <table cellSpacing="0" class="w-full">
        <thead>
          <tr class="bg-gray-200">
            <th class="py-1 px-2 text-left">Rank</th>
            <th class="py-1 px-2 text-left">Team</th>
            <th class="py-1 px-2 text-left">Total points</th>
          </tr>
        </thead>
        <tbody>
          <% @fantasy_league_members.each.with_index(1) do |member, index| %>
            <tr>
              <td class="p-2"><%= index %></td>
              <td class="p-2"><%= member.name %></td>
              <td class="p-2"><%= member.points %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <% if @fantasy_league.invitational? %>
      <div>
        <h2><%= t('views.fantasy_leagues.show.title') %> <%= localized_value(@fantasy_league.season.league.name) %></h2>
        <h3><%= t('views.fantasy_leagues.show.link') %></h3>
        <div class="p-4 bg-gray-200">
          <code>
            <%= fantasy_league_joins_url(fantasy_league_id: @fantasy_league.uuid, invite_code: @fantasy_league.invite_code) %>
          </code>
        </div>
        <br />
        <h3><%= t('views.fantasy_leagues.show.email') %></h3>
        <div class="p-4 bg-gray-200">
          <code>
            Hi, bro
            <br /><br />
            For the <%= @fantasy_league.season.name %> <%= localized_value(@fantasy_league.season.league.name) %> Fantasy League why don't you join my mini-league "<%= @fantasy_league.name %>"?
            <br /><br />
            Joining the league couldn't be easier. Simply use the link below and you'll be added automatically after you've entered the game.
            <br /><br />
            <%= fantasy_league_joins_url(fantasy_league_id: @fantasy_league.uuid, invite_code: @fantasy_league.invite_code) %>
            <br /><br />
            Looking forward to playing against you this season!
          </code>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
