<%= render PageWrappers::PageComponent.new do %>
  <% if @oracul_places.any? %>
    <section class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
      <% @oracul_places.each do |oracul_place| %>
        <%- league = @leagues.find { |league| league[:id] == @oracul_places_leagues[oracul_place[:id]] } %>
        <%- user_oracul = @user_oraculs.find { |element| element[:oracul_place_id] == oracul_place[:id] } %>
        <% if user_oracul %>
          <%= link_to oracul_path(user_oracul[:uuid]), class: 'season-link flex flex-col justify-between bg-white rounded overflow-hidden border border-stone-300 cursor-pointer' do %>
            <%= image_tag "leagues/#{league[:slug]}.webp", alt: 'league-background', class: 'season-link-background' %>
            <div class="text-center py-1 bg-goldeen-support border-t border-stone-300 font-semibold">
              <%= user_oracul[:name] %>
            </div>
            <%= image_tag "icons/#{league[:sport_kind]}.svg", class: 'season-link-sport' %>
          <% end %>
        <% else %>
          <%=
            react_component 'OraculForm',
                            placeName: localized_value(oracul_place[:name]),
                            placeId: oracul_place[:uuid],
                            leagueBackground: image_url("leagues/#{league[:slug]}.webp"),
                            sportKind: image_path("icons/#{league[:sport_kind]}.svg").to_s
          %>
        <% end %>
      <% end %>
    </section>
  <% else %>
    <div class="p-4 bg-white rounded border border-stone-300">
      <h1 class="m-0"><%= t('views.homes.show.no_season') %></h1>
    </div>
  <% end %>
<% end %>
