<%= render PageWrappers::PageComponent.new do %>
  <% if @oracul_places.any? %>
    <section class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
      <% @oracul_places.each do |oracul_place| %>
        <% league = @leagues.find { |league| league[:id] == oracul_place.placeable.league_id } %>
        <div class="flex flex-col justify-between bg-white rounded overflow-hidden border border-stone-300">
          <div class="season-link">
            <%= image_tag league_background(league[:name]['en']), alt: 'league-background', class: 'season-link-background' %>
            <div class="season-link-content">
              <%= image_tag "icons/#{league[:sport_kind]}.svg", class: 'season-link-sport' %>
            </div>
            <div class="text-center py-1 border-t border-stone-300">
              <strong><%= oracul_place[:name]['en'] %></strong>
            </div>
          </div>
        </div>
      <% end %>
    </section>
  <% else %>
    <div class="p-4 bg-white rounded border border-stone-300">
      <h1 class="m-0"><%= t('views.homes.show.no_season') %></h1>
    </div>
  <% end %>
<% end %>
