<p class="mt-4"><%= t('views.rules.index.managing_football.minimum') %></p>
<p class="mt-4"><%= t('views.rules.index.managing_football.subs') %></p>
<p class="mt-4"><%= t('views.rules.index.managing_football.subs_bonus_points') %></p>
<p class="mt-4"><%= t('views.rules.index.managing_football.captain') %></p>
<p class="mt-4"><%= t('views.rules.index.managing_football.triple_captain') %></p>
