<p class="my-4"><%= t('views.rules.index.points_basketball.description') %></p>
<table class="table">
  <thead>
    <tr>
      <td class="px-2"><%= t('views.rules.index.table.action') %></td>
      <td class="px-2"><%= t('views.rules.index.table.points') %></td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= t('views.rules.index.points_football.less_60') %></td>
      <td>1</td>
    </tr>
    <tr>
      <td><%= t('views.rules.index.points_football.more_60') %></td>
      <td>2</td>
    </tr>
    <tr>
      <td><%= t('views.rules.index.points_football.def_goal') %></td>
      <td>6</td>
    </tr>
    <tr>
      <td><%= t('views.rules.index.points_football.mid_goal') %></td>
      <td>5</td>
    </tr>
    <tr>
      <td><%= t('views.rules.index.points_football.for_goal') %></td>
      <td>4</td>
    </tr>
    <tr>
      <td><%= t('views.rules.index.points_football.assist') %></td>
      <td>3</td>
    </tr>
    <tr>
      <td><%= t('views.rules.index.points_football.def_clean') %></td>
      <td>4</td>
    </tr>
    <tr>
      <td><%= t('views.rules.index.points_football.mid_clean') %></td>
      <td>1</td>
    </tr>
    <tr>
      <td><%= t('views.rules.index.points_football.goal_saves') %></td>
      <td>1</td>
    </tr>
    <tr>
      <td><%= t('views.rules.index.points_football.penalty_save') %></td>
      <td>5</td>
    </tr>
    <tr>
      <td><%= t('views.rules.index.points_football.penalty_miss') %></td>
      <td>-2</td>
    </tr>
    <tr>
      <td><%= t('views.rules.index.points_football.conceded') %></td>
      <td>-1</td>
    </tr>

    <tr>
      <td><%= t('views.rules.index.points_football.yellow') %></td>
      <td>-1</td>
    </tr>
    <tr>
      <td><%= t('views.rules.index.points_football.red') %></td>
      <td>-3</td>
    </tr>
    <tr>
      <td><%= t('views.rules.index.points_football.own') %></td>
      <td>-2</td>
    </tr>
  </tbody>
</table>
