<p class="my-4"><%= t('views.rules.index.points_basketball.description') %></p>
<table class="table">
  <thead>
    <tr>
      <td class="px-2"><%= t('views.rules.index.table.action') %></td>
      <td class="px-2"><%= t('views.rules.index.table.points') %></td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= t('views.rules.index.points_basketball.field_goal') %></td>
      <td>1</td>
    </tr>
    <tr>
      <td><%= t('views.rules.index.points_basketball.assist') %></td>
      <td>1.5</td>
    </tr>
    <tr>
      <td><%= t('views.rules.index.points_basketball.rebound') %></td>
      <td>1.2</td>
    </tr>
    <tr>
      <td><%= t('views.rules.index.points_basketball.block') %></td>
      <td>3</td>
    </tr>
    <tr>
      <td><%= t('views.rules.index.points_basketball.steal') %></td>
      <td>3</td>
    </tr>
    <tr>
      <td><%= t('views.rules.index.points_basketball.turnover') %></td>
      <td>-1.5</td>
    </tr>
  </tbody>
</table>
