<h4 class="mt-4"><%= t('views.rules.index.select_squad.title') %></h4>
<p><%= t('views.rules.index.select_squad.max_players', value: sport.max_players) %></p>
<ul>
  <% positions.each do |position| %>
    <li><%= localized_value(position.name) %> - <%= position.total_amount %></li>
  <% end %>
</ul>
<h4 class="mt-4"><%= t('views.rules.index.select_squad.budget_title') %></h4>
<p><%= t('views.rules.index.select_squad.budget_description') %></p>
<h4 class="mt-4"><%= t('views.rules.index.select_squad.per_team_title') %></h4>
<p><%= t('views.rules.index.select_squad.per_team_description', value: sport.max_team_players) %></p>
