<%= render PageWrappers::PageComponent.new do %>
  <h1><%= t('views.rules.index.title') %></h1>
  <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-x-8">
    <div class="mb-8">
      <h2><%= t('views.rules.index.basketball') %></h2>
      <%=
        react_component 'Toggle',
          header: t('views.rules.index.squad'),
          children: render(
            partial: 'select_squad',
            locals: {
              sport: Sport.find_by(title: 'basketball'),
              positions: Sports::Position.where(sport: 'basketball').to_a
            }
          ).html_safe
      %>
      <%=
        react_component 'Toggle',
          header: t('views.rules.index.managing'),
          children: render(partial: 'managing_basketball').html_safe
      %>
      <%=
        react_component 'Toggle',
          header: t('views.rules.index.transfers'),
          children: render(partial: 'transfers').html_safe
      %>
      <%=
        react_component 'Toggle',
          header: t('views.rules.index.points'),
          children: render(partial: 'points_basketball').html_safe
      %>
    </div>
    <div class="mb-8">
      <h2><%= t('views.rules.index.football') %></h2>
      <%=
        react_component 'Toggle',
          header: t('views.rules.index.squad'),
          children: render(
            partial: 'select_squad',
            locals: {
              sport: Sport.find_by(title: 'football'),
              positions: Sports::Position.where(sport: 'football').to_a
            }
          ).html_safe
      %>
      <%=
        react_component 'Toggle',
          header: t('views.rules.index.managing'),
          children: render(partial: 'managing_football').html_safe
      %>
      <%=
        react_component 'Toggle',
          header: t('views.rules.index.transfers'),
          children: render(partial: 'transfers').html_safe
      %>
      <%=
        react_component 'Toggle',
          header: t('views.rules.index.points'),
          children: render(partial: 'points_football').html_safe
      %>
    </div>
  </div>
<% end %>
