<div id="fantasy-team-statistic" class="right-container">
  <div class="fantasy-team-statistic">
    <div class="points-statistic">
      <div class="points-statistic-block">
        <h3><%= @fantasy_team.name %></h3>
      </div>
      <div class="points-statistic-block">
        <h4><%= t('views.shared.statistic.title') %></h4>
      </div>
      <div class="points-statistic-block flex">
        <p><%= t('views.shared.statistic.overall') %></p>
        <p><%= overall_points %></p>
      </div>
      <div class="points-statistic-block flex">
        <p><%= t('views.shared.statistic.rank') %></p>
        <p><%= overall_rank %></p>
      </div>
      <div class="points-statistic-block flex">
        <p><%= t('views.shared.statistic.players') %></p>
        <p><%= fantasy_teams_amount %></p>
      </div>
    </div>
    <div class="points-statistic">
      <div class="points-statistic-block">
        <h3><%= t('views.shared.statistic.leagues') %></h3>
      </div>
      <% fantasy_leagues.each do |fantasy_league| %>
        <div class="points-statistic-block flex">
          <p><%= fantasy_league[:name] %></p>
          <p><%= link_to fantasy_league[:place], fantasy_league_path(fantasy_league[:uuid]) %></p>
        </div>
      <% end %>
      <div class="points-statistic-block">
        <h3><%= t('views.shared.statistic.cups') %></h3>
      </div>
      <% fantasy_cups.each do |cup| %>
        <div class="points-statistic-block flex">
          <p><%= link_to cup[:name], cup_path(cup[:uuid]) %></p>
          <p class="flex flex-row justify-between">
            <span class="cup-stat"><%= cup[:game_week] %></span>
            <span class="cup-stat"><%= cup[:pair_result] %></span>
          </p>
        </div>
      <% end %>
    </div>
    <div class="points-statistic">
      <div class="points-statistic-block">
        <h3><%= t('views.shared.statistic.finance') %></h3>
      </div>
      <div class="points-statistic-block flex">
        <p><%= t('views.shared.statistic.squad_value') %></p>
        <p><%= squad_value %></p>
      </div>
      <div class="points-statistic-block flex">
        <p><%= t('views.shared.statistic.bank') %></p>
        <p><%= squad_budget %></p>
      </div>
    </div>
  </div>
</div>
