<%= render PageWrappers::PageComponent.new do %>
  <% if @seasons.any? %>
    <section class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
      <% @seasons.each do |season| %>
        <div class="flex flex-col justify-between bg-white shadow-md rounded overflow-hidden h-40">
          <% if season[:start_at].nil? || DateTime.now > season[:start_at] %>
            <%=
              render Views::Homes::Show::FantasyTeamLinkComponent.new(
                season_uuid: season[:uuid],
                fantasy_team: @user_fantasy_teams.find { |element| element[:season_id] == season[:id] }
              ) do
            %>
              <%= image_tag league_background(season[:leagues_name]['en']), alt: 'league-background', class: 'season-link-background' %>
              <div class="season-link-content">
                <h2><%= localized_value(season[:leagues_name]) %></h2>
                <p class="season-link-date"><%= season[:name] %></p>
                <%= image_tag "icons/#{season[:leagues_sport_kind]}.svg", class: 'season-link-sport' %>
              </div>
            <% end %>
          <% else %>
            <div class="season-link">
              <%= image_tag league_background(season[:leagues_name]['en']), alt: 'league-background', class: 'season-link-background' %>
              <div class="season-link-content">
                <h2><%= localized_value(season[:leagues_name]) %></h2>
                <p class="season-link-date"><%= season[:name] %></p>
                <%= image_tag "icons/#{season[:leagues_sport_kind]}.svg", class: 'season-link-sport' %>
                <p class="badge-light absolute top-2 left-2">
                  <%= t('views.homes.show.starts', date: season[:start_at].strftime('%Y.%m.%d'), time: season[:start_at].strftime('%H:%M')) %>
                </p>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </section>
  <% else %>
    <h1><%= t('views.homes.show.no_season') %></h1>
  <% end %>
<% end %>
