<%= render PageWrappers::PageComponent.new do %>
  <%= render Views::Shared::SportNavigationComponent.new %>
  <div class="page-wrapper">
    <%= render Views::Shared::FantasyTeamNavigationComponent.new %>
    <div class="page-content">
      <% if params[:sport_kind] %>
        <%=
          render Views::Homes::Show::SportComponent.new(
            sport_kind: params[:sport_kind],
            leagues: @leagues[params[:sport_kind]],
            user: Current.user
          )
        %>
      <% else %>
        <% Sports.all.each_key do |sport_kind| %>
          <%=
            render Views::Homes::Show::SportComponent.new(
              sport_kind: sport_kind,
              leagues: @leagues[sport_kind],
              user: Current.user
            )
          %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
