<%= render PageWrappers::PageComponent.new do %>
  <% if @week %>
    <h1><%= t('views.admin.leagues.show.header') %></h1>
    <% @week.games.includes(home_season_team: :team, visitor_season_team: :team).each do |game| %>
      <%= link_to admin_league_game_path(params[:id], game.id), class: 'button' do %>
        <%= localized_value(game.home_season_team.team.name) %>
        -
        <%= localized_value(game.visitor_season_team.team.name) %>
      <% end %>
    <% end %>
  <% else %>
    <h1><%= t('views.admin.leagues.show.header_no_week') %></h1>
  <% end %>
<% end %>
