<div class="fantasy-team-statistic">
  <div class="points-statistic">
    <div class="points-statistic-block">
      <h3><%= @fantasy_team.name %></h3>
    </div>
    <div class="points-statistic-block">
      <h4><%= t('views.shared.statistic.title') %></h4>
    </div>
    <div class="points-statistic-block flex">
      <p><%= t('views.shared.statistic.overall') %></p>
      <p><%= @fantasy_team.lineups.sum(:points) %></p>
    </div>
    <div class="points-statistic-block flex">
      <p><%= t('views.shared.statistic.rank') %></p>
      <p>1</p>
    </div>
    <div class="points-statistic-block flex">
      <p><%= t('views.shared.statistic.players') %></p>
      <p>1</p>
    </div>
  </div>
  <div class="points-statistic">
    <div class="points-statistic-block">
      <h3><%= t('views.shared.statistic.leagues') %></h3>
    </div>
    <div class="points-statistic-block flex">
    </div>
  </div>
  <div class="points-statistic">
    <div class="points-statistic-block">
      <h3><%= t('views.shared.statistic.finance') %></h3>
    </div>
    <div class="points-statistic-block flex">
      <p><%= t('views.shared.statistic.squad_value') %></p>
      <p></p>
    </div>
    <div class="points-statistic-block flex">
      <p><%= t('views.shared.statistic.bank') %></p>
      <p></p>
    </div>
  </div>
</div>
