<%= render Views::Shared::NavigationComponent.new(fantasy_team: @fantasy_team) %>
<%= render PageWrappers::PageComponent.new(fantasy_team: @fantasy_team) do %>
  <% if @lineup %>
    <div class="main-container">
      <%=
        react_component 'SquadPoints',
          component_id:    'fantasy-team-points',
          component_class: 'left-container',
          seasonUuid:      @season.uuid,
          sportKind:       @season.league.sport_kind,
          lineupUuid:      @lineup.uuid,
          weekUuid:        @lineup.week.uuid,
          points:          @lineup.points,
          averagePoints:   @lineup.week.lineups.average(:points).round,
          maxPoints:       @lineup.week.lineups.maximum(:points)
      %>
      <%= render Views::Shared::StatisticComponent.new(fantasy_team: @fantasy_team, season: @season) %>
    </div>
  <% else %>
    <h2><%= t('views.fantasy_teams.points.index.no_lineups') %></h2>
  <% end %>
<% end %>
