<%= render PageWrappers::PageComponent.new do %>
  <%= render Views::Shared::SportNavigationComponent.new %>
  <div class="page-wrapper">
    <%= render Views::Shared::FantasyTeamNavigationComponent.new(fantasy_team: @fantasy_team) %>
    <div class="page-content">
      <div id="fantasy-team-leagues" class="main-container">
        <div class="half-container">
          <h2><%= t('views.fantasy_teams.fantasy_leagues.index.leagues') %></h2>
          <h3><%= t('views.fantasy_teams.fantasy_leagues.index.general_leagues') %></h3>
          <%=
            render Views::FantasyTeams::FantasyLeagues::TableComponent.new(
              fantasy_team: @fantasy_team,
              fantasy_leagues: @fantasy_leagues.where.not(leagueable_type: 'User')
            )
          %>
          <h3><%= t('views.fantasy_teams.fantasy_leagues.index.user_leagues') %></h3>
          <%= link_to t('views.fantasy_teams.fantasy_leagues.index.new_user_league'), new_fantasy_team_fantasy_league_path(@fantasy_team.uuid), class: 'button' %>
          <% if @fantasy_leagues.where(leagueable_type: 'User').load.exists? %>
            <%=
              render Views::FantasyTeams::FantasyLeagues::TableComponent.new(
                fantasy_team: @fantasy_team,
                fantasy_leagues: @fantasy_leagues.where(leagueable_type: 'User')
              )
            %>
          <% end %>
        </div>
        <div class="half-container">
          <h2><%= t('views.fantasy_teams.fantasy_leagues.index.cups') %></h2>
        </div>
      </div>
    </div>
  </div>
<% end %>
