<%= render PageWrappers::PageComponent.new(fantasy_team: @fantasy_team) do %>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
    <div>
      <h2><%= t('views.fantasy_teams.fantasy_leagues.index.leagues') %></h2>
      <h3><%= t('views.fantasy_teams.fantasy_leagues.index.general_leagues') %></h3>
      <%=
        render Views::FantasyTeams::FantasyLeagues::TableComponent.new(
          fantasy_team: @fantasy_team,
          fantasy_leagues: @fantasy_leagues.where.not(leagueable_type: 'User')
        )
      %>
      <h3 class="mt-4"><%= t('views.fantasy_teams.fantasy_leagues.index.user_leagues') %></h3>
      <%= link_to t('views.fantasy_teams.fantasy_leagues.index.new_user_league'), new_fantasy_team_fantasy_league_path(@fantasy_team.uuid), class: 'btn-primary mb-6' %>
      <% if @fantasy_leagues.where(leagueable_type: 'User').load.exists? %>
        <%=
          render Views::FantasyTeams::FantasyLeagues::TableComponent.new(
            fantasy_team: @fantasy_team,
            fantasy_leagues: @fantasy_leagues.where(leagueable_type: 'User')
          )
        %>
      <% end %>
    </div>
    <div>
      <h2><%= t('views.fantasy_teams.fantasy_leagues.index.cups') %></h2>
      <p><%= t('views.fantasy_teams.fantasy_leagues.index.cups_description') %></p>
    </div>
  </div>
<% end %>
