<%= render PageWrappers::GuestComponent.new do %>
  <section class="grid grid-cols-1 xl:grid-cols-2 gap-8 mx-auto mt-16 mb-8 xl:my-24">
    <div class="flex-1 flex flex-col justify-center pr-16">
      <h1 class="text-center lg:text-left">Fantasy Sports</h1>
      <p class="text-lg leading-8 mb-4 text-center lg:text-left"><%= t('views.welcome.description') %></p>
      <% if Current.user.nil? %>
        <div class="flex mb-4">
          <%= link_to t('components.page_wrappers.users_component.login'), users_login_path, class: 'btn-primary mr-2' %>
          <%= link_to t('components.page_wrappers.users_component.sign_up'), users_sign_up_path, class: 'btn-primary' %>
        </div>
      <% else %>
        <div class="flex mb-4">
          <%= link_to t('views.welcome.home'), home_path, class: 'btn-primary' %>
        </div>
      <% end %>
      <p class="mb-2"><%= t('views.welcome.active_leagues') %></p>
      <ul>
        <li class="mb-2"><%= t('views.welcome.nba') %></li>
        <li class="mb-2"><%= t('views.welcome.epl') %></li>
        <li><%= t('views.welcome.seria_a') %></li>
      </ul>
    </div>
    <div class="relative flex-1 flex flex-col justify-center lg:items-center">
      <%= image_tag 'basketball-screenshot.webp', width: 616, height: 355, alt: 'interface-example', class: 'rounded' %>
      <%= image_tag 'football-screenshot.webp', width: 616, height: 355, alt: 'interface-example', class: 'mt-4 xl:absolute xl:top-60 xl:-left-12 rounded' %>
    </div>
  </section>
<% end %>
