<%= render PageWrappers::PageComponent.new(fantasy_team: @fantasy_team) do %>
  <% if @fantasy_team.completed? %>

  <% else %>
    <div
      id='fantasy-team-picker'
      data-season-id='<%= @season.id %>'
      data-fantasy-team-uuid='<%= @fantasy_team.uuid %>'
    >
      <div id='fantasy-team-members'>
        <div class='form-field'>
          <label class='form-label'><%= t('views.fantasy_teams.show.team_name') %></label>
          <input class='form-value' v-model='teamName' />
        </div>
        <p><%= t('views.fantasy_teams.show.money_remaining') %> - {{ budget }}</p>
        <div id='team-players-by-positions'>
          <div v-for='sportPosition in sportsPositions' :key='sportPosition.id' class='sport-position'>
            <h3>{{ localizeValue(sportPosition.name) }}</h3>
            <div class='position-members'>
              <div v-for='teamMember in teamMembersForPosition(sportPosition.id)' :key='teamMember.id' class='position-member'>
                <p class='member-team-name'>{{ localizeValue(teamNameById(teamMember.team.id)) }}</p>
                <p class='member-name'>{{ localizeValue(teamMember.player.name).split(' ')[0] }}</p>
                <p class='member-price'>{{ teamMember.price }}</p>
              </div>
              <div
                v-for='value in [...Array(sportPositionById(sportPosition.id).totalAmount - teamMembersForPosition(sportPosition.id).length).keys()]'
                :key='value'
                class='position-member'
              >
                <p class='member-team-name empty'></p>
                <p class='member-name empty'></p>
                <p class='member-price empty'></p>
              </div>
            </div>
          </div>
        </div>
        <button id='submit-button' class='button' @click='submit'><%= t('views.fantasy_teams.show.save') %></button>
      </div>
      <div id='fantasy-players'>
        <h2><%= t('views.fantasy_teams.show.selection') %></h2>
        <div v-for='teamPlayer in teamsPlayers' :key='teamPlayer.id' class='team-player'>
          <div class='team-player-info'>
            <p class='team-player-name'>{{ localizeValue(teamPlayer.player.name).split(' ')[0] }}</p>
            <div class='team-player-stats'>
              <span class='team-name'>{{ localizeValue(teamNameById(teamPlayer.team.id)) }}</span>
              <span class='position-name'>{{ localizeValue(sportPositionById(teamPlayer.player.sports_position_id).name) }}</span>
            </div>
          </div>
          <div class='team-player-price'>{{ teamPlayer.price }}</div>
          <div class='action' @click="addTeamMember(teamPlayer)">+</div>
          <div class='action' @click="removeTeamMember(teamPlayer)">-</div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
