<div id='games-players-stats'>
  <%= form_with url: admin_game_players_path(@game.id), method: :post do |form| %>
    <h2><%= localized_value(@game.home_season_team.team.name) %></h2>
    <table>
      <thead>
        <tr>
          <th class='player-name'><%= t('views.admin.leagues.games.show.name') %></th>
          <% @statistic.each do |stat| %>
            <th><%= stat %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @games_players.where(teams_players: { seasons_team_id: @game.home_season_team_id }).each do |games_player| %>
          <tr>
            <td class='player-name'><%= localized_value(games_player.teams_player.player.name) %></td>
            <% @statistic.each do |stat| %>
              <td class='form-field'>
                <%= form.text_field "games_players[#{games_player.id}][#{stat}]", value: games_player.statistic[stat], class: 'form-value games-player-input' %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <h2><%= localized_value(@game.visitor_season_team.team.name) %></h2>
    <table>
      <thead>
        <tr>
          <th class='player-name'><%= t('views.admin.leagues.games.show.name') %></th>
          <% @statistic.each do |stat| %>
            <th><%= stat %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @games_players.where(teams_players: { seasons_team_id: @game.visitor_season_team_id }).each do |games_player| %>
          <tr>
            <td class='player-name'><%= localized_value(games_player.teams_player.player.name) %></td>
            <% @statistic.each do |stat| %>
              <td class='form-field'>
                <%= form.text_field "games_players[#{games_player.id}][#{stat}]", value: games_player.statistic[stat], class: 'form-value games-player-input' %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= form.submit t('views.admin.leagues.games.show.submit'), class: 'button', id: 'update-statistic' %>
  <% end %>
  </div>
