<% if @fantasy_team %>
  <% if @fantasy_team[:completed] %>
    <%= link_to fantasy_team_points_path(@fantasy_team[:uuid]), class: 'season-link' do %>
      <%= image_tag "leagues/#{@season[:leagues_slug]}.webp", alt: 'league-background', class: 'season-link-background' %>
      <div class="text-center py-1 bg-goldeen-support border-t border-stone-300 font-semibold">
        <%= @fantasy_team[:name] %>
      </div>
      <% if @deadline %>
        <div class="badge-light badge-small absolute right-2 top-2">
          <span><%= t('components.views.homes.show.fantasy_team_link_component.deadline', time: @deadline[:deadline_at].strftime('%Y-%m-%d %H:%M')) %></span>
        </div>
      <% end %>
      <% if @lineup %>
        <div class="badge-light badge-small absolute right-2 bottom-10">
          <% if @lineup[:final_points] %>
            <span><%= t('components.views.homes.show.fantasy_team_link_component.week_final_points', value: @lineup[:points]) %></span>
          <% else %>
            <span><%= t('components.views.homes.show.fantasy_team_link_component.week_points', value: @lineup[:points]) %></span>
          <% end %>
        </div>
      <% else %>
        <div class="badge-light badge-small absolute right-2 bottom-10">
          <span><%= t('components.views.homes.show.fantasy_team_link_component.no_active') %></span>
        </div>
      <% end %>
      <% if @like %>
        <%= button_to like_path(id: @like[:id], redirect: 'draft_players'), class: 'like-link', method: :delete do %>
          <%= image_tag 'icons/heart_like.svg' %>
        <% end %>
      <% else %>
        <%= button_to likes_path(likeable_id: @season[:id], likeable_type: 'Season', redirect: 'draft_players'), class: 'like-link' do %>
          <%= image_tag 'icons/heart.svg' %>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <%= link_to fantasy_team_transfers_path(@fantasy_team[:uuid]), class: 'season-link' do %>
      <%= image_tag "leagues/#{@season[:leagues_slug]}.webp", alt: 'league-background', class: 'season-link-background' %>
      <div class="text-center py-1 border-t border-stone-300 font-semibold">
        <%= t('components.views.homes.show.fantasy_team_link_component.transfers') %>
      </div>
      <% if @deadline %>
        <div class="badge-light badge-small absolute right-2 top-2">
          <span><%= t('components.views.homes.show.fantasy_team_link_component.deadline', time: @deadline[:deadline_at].strftime('%Y-%m-%d %H:%M')) %></span>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <%= button_to fantasy_teams_path(season_id: @season[:uuid]), class: 'season-link inline-block w-full' do %>
    <%= image_tag "leagues/#{@season[:leagues_slug]}.webp", alt: 'league-background', class: 'season-link-background' %>
    <div class="text-center py-1 border-t border-stone-300">
      <strong><%= t('components.views.homes.show.fantasy_team_link_component.join') %></strong> <%= t('components.views.homes.show.fantasy_team_link_component.members', count: @overall_league[:fantasy_leagues_teams_count]) %>
    </div>
    <% if @deadline %>
      <div class="badge-light badge-small absolute right-2 top-2">
        <span><%= t('components.views.homes.show.fantasy_team_link_component.deadline', time: @deadline[:deadline_at].strftime('%Y-%m-%d %H:%M')) %></span>
      </div>
    <% end %>
  <% end %>
<% end %>
