<%= render PageWrappers::PageComponent.new(fantasy_team: @fantasy_team) do %>
  <% if @week %>
    <div class="p-4 bg-white border border-stone-300 rounded">
      <h1 class="mb-8"><%= t('views.fantasy_teams.status.index.title', week: @week.position) %></h1>
      <%= react_component 'BestPlayers', weekUuid: @week.uuid, seasonUuid: @season.uuid, sportKind: @season.league.sport_kind %>
      <%= react_component 'TransfersStatus', weekUuid: @week.uuid, seasonUuid: @season.uuid, sportKind: @season.league.sport_kind %>
    </div>
  <% else %>
    <div class="p-4 bg-white border border-stone-300 rounded">
      <h2 class="m-0"><%= t('views.fantasy_teams.points.index.no_lineups') %></h2>
    </div>
  <% end %>
<% end %>
