<%= render PageWrappers::PageComponent.new(fantasy_team: @fantasy_team) do %>
  <div
    id='fantasy-team-transfers'
    data-season-id='<%= @season.id %>'
    data-sport-kind='<%= @season.league.sport_kind %>'
    data-fantasy-team-uuid='<%= @fantasy_team.uuid %>'
    data-fantasy-team-completed='<%= @fantasy_team.completed? %>'
    data-fantasy-team-budget='<%= @fantasy_team.budget_cents / 100.0 %>'
  >
    <div id='fantasy-team-members'>
      <div class='form-field' v-if='!completed'>
        <label class='form-label'><%= t('views.fantasy_teams.transfers.show.team_name') %></label>
        <input class='form-value' v-model='teamName' />
      </div>
      <p><%= t('views.fantasy_teams.transfers.show.money_remaining') %> - {{ budget }}</p>
      <p><%= t('views.fantasy_teams.transfers.show.transfers_remaining') %> - <%= @fantasy_team.transfers_limited? ? @fantasy_team.free_transfers : t('views.fantasy_teams.transfers.show.unlimited') %></p>
      <button
        id='reset-button'
        class='button'
        v-if='completed'
        @click='resetTransfers()'
      >
        <%= t('views.fantasy_teams.transfers.show.reset') %>
      </button>
      <div id='team-players-by-positions'>
        <div v-for='sportPosition in sportsPositions' :key='sportPosition.position_kind' class='sport-position'>
          <h3>{{ localizeValue(sportPosition.name) }}</h3>
          <div class='position-members'>
            <div v-for='teamMember in teamMembersForPosition(sportPosition.position_kind)' :key='teamMember.id' class='player-card'>
              <p class='player-team-name'>{{ localizeValue(teamNameById(teamMember.team.id)) }}</p>
              <p class='player-name'>{{ localizeValue(teamMember.player.name).split(' ')[0] }}</p>
              <p class='player-value'>{{ teamMember.price }}</p>
              <div class='action' @click="removeTeamMember(teamMember)">-</div>
            </div>
            <div
              v-if='Object.keys(sportsPositionsByKind).length > 0'
              v-for='value in [...Array(sportPositionByKind(sportPosition.position_kind).totalAmount - teamMembersForPosition(sportPosition.position_kind).length).keys()]'
              :key='value'
              class='player-card'
            >
              <p class='player-team-name empty'></p>
              <p class='player-name empty'></p>
              <p class='player-value empty'></p>
            </div>
          </div>
        </div>
      </div>
      <button id='submit-button' class='button' @click='submit'>
        <% if @fantasy_team.completed? %>
          <%= t('views.fantasy_teams.transfers.show.make_transfers') %>
        <% else %>
          <%= t('views.fantasy_teams.transfers.show.save') %>
        <% end %>
      </button>
    </div>
    <div id='fantasy-players'>
      <h2><%= t('views.fantasy_teams.transfers.show.selection') %></h2>
      <div v-for='teamPlayer in teamsPlayers' :key='teamPlayer.id' class='team-player'>
        <div class='team-player-info'>
          <p class='team-player-name'>{{ localizeValue(teamPlayer.player.name).split(' ')[0] }}</p>
          <div class='team-player-stats' v-if='Object.keys(sportsPositionsByKind).length > 0'>
            <span class='team-name'>{{ localizeValue(teamNameById(teamPlayer.team.id)) }}</span>
            <span class='position-name'>{{ localizeValue(sportPositionByKind(teamPlayer.player.position_kind).name) }}</span>
          </div>
        </div>
        <div class='team-player-price'>{{ teamPlayer.price }}</div>
        <div class='team-player-price'>{{ teamPlayer.player.points }}</div>
        <div class='action' @click="addTeamMember(teamPlayer)">+</div>
      </div>
    </div>
  </div>
<% end %>
