<%= render PageWrappers::PageComponent.new(fantasy_team: @fantasy_team) do %>
  <div
    id='fantasy-team-transfers'
    data-season-id='<%= @season.id %>'
    data-sport-kind='<%= @season.league.sport_kind %>'
    data-fantasy-team-uuid='<%= @fantasy_team.uuid %>'
    data-fantasy-team-completed='<%= @fantasy_team.completed? %>'
    data-fantasy-team-budget='<%= @fantasy_team.budget_cents / 100.0 %>'
  >
    <div id='fantasy-team-members'>
      <div class='form-field' v-if='!completed'>
        <label class='form-label'><%= t('views.fantasy_teams.transfers.show.team_name') %></label>
        <input class='form-value' v-model='teamName' />
      </div>
      <p><%= t('views.fantasy_teams.transfers.show.money_remaining') %> - {{ budget }}</p>
      <p><%= t('views.fantasy_teams.transfers.show.transfers_remaining') %> - <%= @fantasy_team.transfers_limited? ? @fantasy_team.free_transfers : t('views.fantasy_teams.transfers.show.unlimited') %></p>
      <button
        id='reset-button'
        class='button'
        v-if='completed'
        @click='resetTransfers()'
      >
        <%= t('views.fantasy_teams.transfers.show.reset') %>
      </button>
      <div id='team-players-by-positions' class='<%= @season.league.sport_kind %>'>
        <div
          v-for='sportPosition in sportsPositions'
          :key='sportPosition.position_kind'
          class='sport-position'
          :class="[sportPosition.name.en.split(' ').join('-')]"
        >
          <div v-for='teamMember in teamMembersForPosition(sportPosition.position_kind)' :key='teamMember.id' class='player-card-box'>
            <div class='player-card'>
              <p class='player-team-name'>{{ localizeValue(teamNameById(teamMember.team.id)) }}</p>
              <p class='player-name'>{{ localizeValue(teamMember.player.name).split(' ')[0] }}</p>
              <p class='player-value'>{{ teamMember.price }}</p>
              <div class='action' @click="removeTeamMember(teamMember)">-</div>
            </div>
          </div>
          <div
            v-if='Object.keys(sportsPositionsByKind).length > 0'
            v-for='value in [...Array(sportPositionByKind(sportPosition.position_kind).totalAmount - teamMembersForPosition(sportPosition.position_kind).length).keys()]'
            :key='value'
            class='player-card-box'
          >
            <div class='player-card'>
              <p class='player-team-name empty'></p>
              <p class='player-name empty'></p>
              <p class='player-value empty'></p>
            </div>
          </div>
        </div>
      </div>
      <button id='submit-button' class='button' @click='submit'>
        <% if @fantasy_team.completed? %>
          <%= t('views.fantasy_teams.transfers.show.make_transfers') %>
        <% else %>
          <%= t('views.fantasy_teams.transfers.show.save') %>
        <% end %>
      </button>
    </div>
    <div id='fantasy-players'>
      <h2><%= t('views.fantasy_teams.transfers.show.selection') %></h2>
      <div class='form-field'>
        <label class='form-label'><%= t('views.fantasy_teams.transfers.show.view_by_position') %></label>
        <div class='form-select' :class="{ 'is-open': filterByPositionIsOpen }">
          <div class='form-value' @click="toggleSelect('filterByPositionIsOpen')">{{ filterByPositionValue }}</div>
          <ul class='form-select-dropdown'>
            <li @click='selectFilterByPosition()'>
              <%= t('views.fantasy_teams.transfers.show.all_players') %>
            </li>
            <li v-for='sportsPosition in sportsPositions' :key='sportsPosition.position_kind' @click='selectFilterByPosition(sportsPosition)'>
              {{ localizeValue(sportsPosition.name) }}
            </li>
          </ul>
        </div>
      </div>
      <div class='form-field'>
        <label class='form-label'><%= t('views.fantasy_teams.transfers.show.view_by_team') %></label>
        <div class='form-select' :class="{ 'is-open': filterByTeamIsOpen }">
          <div class='form-value' @click="toggleSelect('filterByTeamIsOpen')">{{ filterByTeamValue }}</div>
          <ul class='form-select-dropdown'>
            <li @click='selectFilterByTeam()'>
              <%= t('views.fantasy_teams.transfers.show.all_teams') %>
            </li>
            <li v-for='team in teams' :key='team.id' @click='selectFilterByTeam(team)'>
              {{ localizeValue(team.name) }}
            </li>
          </ul>
        </div>
      </div>
      <div class='form-field'>
        <label class='form-label'><%= t('views.fantasy_teams.transfers.show.sort_by') %></label>
        <div class='form-select' :class="{ 'is-open': sortByIsOpen }">
          <div class='form-value' @click="toggleSelect('sortByIsOpen')">
            {{ localizeValue(sortByNameValues[sortBy]) }}
          </div>
          <ul class='form-select-dropdown'>
            <li @click="selectSortBy('points')">{{ localizeValue(sortByNameValues.points) }}</li>
            <li @click="selectSortBy('price')">{{ localizeValue(sortByNameValues.price) }}</li>
          </ul>
        </div>
      </div>
      <p class='players-shown'><%= t('views.fantasy_teams.transfers.show.players_shown') %> - {{ filteredTeamsPlayers.length }}</p>
      <div v-for='teamPlayer in renderedTeamsPlayers' :key='teamPlayer.id' class='team-player'>
        <div class='team-player-info'>
          <p class='team-player-name'>{{ localizeValue(teamPlayer.player.name).split(' ')[0] }}</p>
          <div class='team-player-stats' v-if='Object.keys(sportsPositionsByKind).length > 0'>
            <span class='team-name'>{{ localizeValue(teamNameById(teamPlayer.team.id)) }}</span>
            <span class='position-name'>{{ localizeValue(sportPositionByKind(teamPlayer.player.position_kind).name) }}</span>
          </div>
        </div>
        <div class='team-player-price'>{{ teamPlayer.price }}</div>
        <div class='team-player-price'>{{ teamPlayer.player.points }}</div>
        <div class='action' @click="addTeamMember(teamPlayer)">+</div>
      </div>

      <div class='pagination flex flex-row justify-center items-center' v-if='filteredTeamsPlayersAmount > perPage'>
        <span class='pagination-nav flex flex-row justify-center items-center' @click='paginationDown()'>-</span>
        <span class='pagination-counter'>{{ `${page + 1} of ${lastPageIndex + 1}` }}</span>
        <span class='pagination-nav flex flex-row justify-center items-center' @click='paginationUp()'>+</span>
      </div>
    </div>
  </div>
<% end %>
