<header class="flex flex-col sm:flex-row justify-between sm:items-center p-4 border-b border-gray-200">
  <div class="mb-4 sm:mb-0">
    <%= link_to root_path, class: 'text-2xl font-normal tracking-tighter' do %>
      fantasy<span class="text-violet-600">sports</span>
    <% end %>
  </div>
  <div class="flex grid-x gap-8">
    <% I18n.available_locales.each do |locale| %>
      <%= link_to locale, change_locale(locale), aria: { label: t('components.page_wrappers.users_component.change_locale') } %>
    <% end %>
    <% if Current.user %>
      <%= link_to t('components.page_wrappers.page_component.home'), home_path %>
      <%= link_to t('components.page_wrappers.page_component.logout'), users_logout_path %>
    <% else %>
      <div class="flex">
        <%= link_to t('components.page_wrappers.users_component.login'), users_login_path, class: 'mr-4' %>
        <%= link_to t('components.page_wrappers.users_component.sign_up'), users_sign_up_path %>
      </div>
    <% end %>
  </div>
</header>
