<%= render PageWrappers::PageComponent.new do %>
  <% if @seasons.any? %>
    <section class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
      <% @seasons.each do |season| %>
        <div class="flex flex-col justify-between bg-white rounded overflow-hidden border border-stone-300">
          <% if season[:start_at].nil? || DateTime.now > season[:start_at] %>
            <%- fantasy_team = @user_fantasy_teams.find { |element| element[:season_id] == season[:id] } %>
            <%=
              render Views::Homes::Show::FantasyTeamLinkComponent.new(
                season: season,
                fantasy_team: fantasy_team,
                lineup: fantasy_team ? @user_lineups.find { |element| element[:fantasy_team_id] == fantasy_team[:id] } : nil,
                deadline: @deadlines.find { |element| element[:season_id] == season[:id] },
                overall_league: @overall_leagues.find { |element| element[:leagueable_id] == season[:id] },
                like: @likeables.find { |element| element[:likeable_id] == season[:id] }
              )
            %>
          <% else %>
            <div class="season-link">
              <%= image_tag "leagues/#{season[:leagues_slug]}.webp", alt: 'league-background', class: 'season-link-background' %>
              <div class="season-link-content">
                <%= image_tag "icons/#{season[:leagues_sport_kind]}.svg", class: 'season-link-sport' %>
                <p class="badge-light absolute top-2 right-2">
                  <%= t('views.homes.show.starts', date: season[:start_at].strftime('%Y.%m.%d'), time: season[:start_at].strftime('%H:%M')) %>
                </p>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </section>
  <% else %>
    <h1><%= t('views.homes.show.no_season') %></h1>
  <% end %>
<% end %>
