<div class="flex flex-row justify-between items-center">
  <h1><%= t('views.admin.seasons.teams_players.index.header') %></h1>
</div>
<table class="table" cellSpacing="0">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Position</th>
      <th>Team</th>
      <th>Points</th>
      <th>Statistics</th>
      <th>Active</th>
      <th>Price</th>
      <th>Shirt</th>
      <th>Form</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @teams_players.each do |teams_player| %>
      <tr>
        <td><%= teams_player.id %></td>
        <td><%= localized_value(teams_player.player.name) %></td>
        <td><%= localized_value(@sport_positions[teams_player.player.position_kind]) %></td>
        <td><%= localized_value(teams_player.seasons_team.team.name) %></td>
        <td><%= teams_player.player.points %></td>
        <td><%= teams_player.player.statistic %></td>
        <td><%= teams_player.active %></td>
        <td><%= teams_player.price_cents / 100.0 %></td>
        <td><%= teams_player.shirt_number %></td>
        <td><%= teams_player.form %></td>
        <td>
          <%= link_to t('views.admin.seasons.teams_players.index.edit'), edit_admin_season_teams_player_path(@season.uuid, teams_player.uuid), class: 'btn-primary btn-small' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
