<!DOCTYPE html>
<html lang="en" class="m-0 p-0 min-h-screen">
  <head>
    <title>Fantasy Sports Admin Panel</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'tailwind', 'inter-font' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body class="relative flex flex-col m-0 p-0 min-h-screen">
    <%= render PageWrappers::AdminComponent.new do %>
      <%= yield %>
    <% end %>
    <%= render Shared::FlashComponent.new %>
  </body>
</html>
