<!DOCTYPE html>
<html lang="en" class="m-0 p-0 min-h-screen text-stone-800">
  <head>
    <title><%= t('views.layout.title') %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="keywords" content="<%= t('views.layout.keywords') %><">
    <meta name="description" content="<%= t('views.layout.description') %><">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'tailwind', 'inter-font' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body class="relative flex flex-col m-0 p-0 min-h-screen bg-goldeen-light">
    <input type="hidden" id="current_locale" value="<%= I18n.locale %>" />
    <% if @watches %>
      <input type="hidden" id="watches" value="<%= @watches %>" />
    <% end %>
    <%= yield %>
    <%= render 'controllers/shared/footer' %>
    <div id="modal-root"></div>
    <%= react_component 'Flash', content: flash.to_h %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
